:root{
    --branco--: #ffffff;
    --preto--: #000000;
    --azulCobalto--: #0047AB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0045a7;
    width: 100vw;
    height: 15vh;
    position: absolute;
    z-index: 1000;
}

header div a {
    text-decoration: none;
    color: var(--branco--);
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: var(--branco--);
    font-size: 1.3em;
    transition: opacity 0.3s ease;
    opacity: 0.9;
}

header nav a:hover {
    opacity: 1;
}

#container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
    animation: aparecer 0.8s ease-out forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#div-esquerda{
    background-color: var(--azulCobalto--);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#div-logo{
    position: absolute;
    height: 10vh;
    width: 9vw;
    margin-bottom: 32%;
    left: 17%;
}

#div-esquerda #div-logo img{
    position: absolute;
    height: 20vh;
    margin-bottom: 20px;
}

#div-esquerda h2{
    color: var(--branco--);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif; 
    text-align-last: center;  
}

/*Parte direita*/

#div-direita{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;   
    text-align: center;
}

#lbl-login{
    color: var(--azulCobalto--);
    font-size: 2em;
    margin-top: 5%;
}
#campo-login{
   height: 45vh;
   width: 19vw;
   border-radius: 30px;
   box-shadow: 0px 0px 10px rgb(189, 189, 189);
}

.div-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

#input-usuario, #input-senha{
    width: 15vw;
    height: 4vh;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px rgb(168, 168, 168);
    border: none;
}

#input-usuario:focus, #input-senha:focus{
   box-shadow: 0px 0px 7px var(--azulCobalto--);
   outline: none;
}

.lbl-input{
    position: absolute;
    color: gray;
    font-size: 1.1em;
    margin-right: 11%;
    margin-top: 0.5%;
    pointer-events: none;
    transition: 0.3s;
}

#input-usuario:focus + #lbl-usuario{
    margin-top: -1%;
    font-size: 0.9em;
    color: blue;
}

#input-senha:focus + #lbl-senha{
    margin-top: -1%;
    font-size: 0.9em;
    color: blue;
}

#lblEsqueceuSenha{
    display: block;
    margin-top: 2%;
    margin-left: 40%;
    cursor: pointer;
}
#lblEsqueceuSenha a{
    text-decoration: none;
    color: var(--azulCobalto--)
}

#div-btnConfirmar{
    margin-top: 6%;
}

#btn-confirmar{
    height: 5vh;
    width: 8vw;
    border-radius: 10px;
    border: none;
    background-color: var(--azulCobalto--);
    color: white;
    font-size: 1.1em;
    transition: ease-in-out 0.3s;
}
#btn-confirmar:hover{
    transform: scale(1.01);
    background-color: rgb(0, 106, 255);
    cursor: pointer;
}

#lblCriarConta{
    display: block;
    margin-top: 10%;
}

#lblCriarConta a{
    color: var(--azulCobalto--);
    text-decoration: none;
}


